*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#first{

    padding: 30px 4rem;
    background-color: #2C3E50;
    overflow: auto;
}
.box .left a{
    padding-left: 10px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.75rem;
    color: #fff;
}
.box .right a{
    margin-top: -2rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-decoration: none;
    float: right;
    color: #fff;
}
#green{
    background-color: #1abc9c;
    padding-top: 10rem;
}
.photo{
    padding-left: 38.5rem;
width: 55rem;
}
.photo img{
    margin-top: -5rem;
    overflow: hidden;
    width: 100%;
}
.text h1{
    padding-top: 2rem;
    font-size: 4rem;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
}
.text p{
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
    text-align: center;
}
.texts{
    padding-bottom: 1rem;
    font-size: 3rem;
    line-height: 2.5rem;
    padding-top: 5rem;
    text-align: center;
    color: #2C3E50;
}
.photos{
    float: left;
    width: 31.5%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: -6rem;
}
.photos img{
    padding-left: 10px;
    margin: 40px;
    width: 100%;
    transition: .6s;
    overflow: hidden;
    margin-bottom: 5rem;
}
.box{
    width: calc(100%6);
}
#portfolio{
    overflow: hidden;
    padding: 1rem;
}
#about{
    padding-top: 10rem;
   background-color:#1abc9c;
   margin-top: 2.5rem;
}
.main h1{
    font-size: 3rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
}

#about .p1{
    width: 100%;
    overflow: auto;
    margin-bottom: 25px;
}
#about .p1 p{
    width: 23.6%;
    color: #fff;
    font-size: 20px;
    margin-bottom: 16px;
    float: left;
    margin-left: 20rem;
    text-align: left;
    margin-top: 2rem;
}
#about .p2 p{
    margin-top: -9.4rem;
    width: 23%;
    color: #fff;
    font-size: 20px;
    margin-bottom: 16px;
    float: right;
    padding-left: 10px;
    margin-right: 22rem;
    text-align: left;
}
#about .download{
    padding: 1rem;
    text-align: center;
    color: #1abc9c;
}
#about .download a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    border: 0.125rem solid #fff;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin-bottom: 5rem;
}
#space{
    background-color: #1abc9c;
    padding: 1rem;
}
#contac{
    padding: 9rem;
}
#contac .left{
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
    color: #212529;
}
#contac .right{
    padding-top: 5rem;
    width: 50%;
    margin-left: 19rem;

}
.right input{
    width: 100%;
    padding: 24px 48px 24px 10px;
    margin-bottom: 20px;
    border: 1px;
    border-bottom: 1px solid black;
    border-width: 1px;
    font-size: 24px;
    padding-bottom: 5px;
}
.right textarea{
    border-bottom: 1px solid black;
    border-width: 0px;
    font-size: 10px;
    padding: 24px 170px 24px 20rem;
}
.right button{
    background-color: #1abc9c;
    color: #fff;
    font-size: 20px;
    padding: 25px 35px;
    border-radius: 10px;
    border-color: #1abc9c;
    border: #1abc9c;
    margin-top: 10px;
    text-align: left;
}
#locationid{
    padding: 4rem 5rem;
    background-color: #2c3e50;
    margin: 0px 0px 0px;

}
.locaton h4{
    font-size: 1.5rem;
    padding-left: 11rem;
    color: #fff;
    margin: 0px 0px 24px;
}
.locaton h6{
    font-size: 1.25rem;
    margin-top: 1.5rem;
    padding-left: 9rem;
    color: #fff;
    font-weight: 300;
}
.locaton p{
    font-size: 1.25rem;
    padding-left:11rem;
    color: #fff;
    font-weight: 300;
    padding-top: .5rem;
}
#locationid .arround h4{
    margin-right: 35rem;
    margin-top: -6.5rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-decoration: none;
    float: right;
    color: #fff;
}
#locationid .freelancer h4{
    margin-right: 4rem;
    margin-top: -6.5rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-decoration: none;
    float: right;
    color: #fff;
}
#locationid .freelancer h6{
    padding: 0rem 1rem;
    font-size: 1.25rem;
    margin-top: -3.2rem;
    padding-right: 2.5rem;
    color: #fff;
    font-weight: 300;
    float: right;
}
#locationid .freelancer p{
    margin-top: -1.4rem;
    font-size: 1.25rem;
    padding-left: 60rem;
    color: #fff;
    font-weight: 300;
    padding-bottom: -40rem;
}
#end{
    padding: 2rem;
    background-color: #1a252f;
}
.center{
    text-align: center;
    color: #fff;
}